/*
Cascade order:
    1. Importance : (!important)
    2. Specificity : style attribute > id > [class selector, attribute selector, pseudo-class] 
                        >　[element selector, pseudo-element selector ]
        (Remark: Universal selector(*), combinators(+, >, ~, '') and pseudo-class(:not) have no effecttt on specificity)
    3. Source order: sequential order(later override earlier)
*/
#winner {
    font-size:1em;
    background-color: red !important;
    font-family: fantasy;
}

p {
    font-size: 2em;
    background-color: aquamarine !important;
    font-family: cursive !important;
}

/* universal selector */
* {
    background-color: cornsilk;
}

/*
    Inheritance:
*/
ul {
    color: dodgerblue;
    font-size:30px;
}

/*  inherit from parent */
.inherit a{
    color: inherit;
    font-size: inherit;
}
/* browser have initial? initial : inherit  */
.initial a{
    color: initial;
    font-size:initial;
}

/* like default value */
.unset a{
    color: unset;
    font-size: unset;
}

